//VARIABLES
$drkBlue:hsl(238, 29%, 16%);
$red: hsl(14, 88%, 65%);
$violet:hsl(273, 75%, 66%);
$blue: hsl(240, 73%, 65%);
$drkGray: hsl(237, 12%, 33%);
$gray: hsl(240, 6%, 50%);
$ltGray: hsl(240, 5%, 91%);

//SETUP
*,*::after,*::before{ 
    box-sizing: border-box;
    margin:0;
}

html, body{ 
    min-height: 100%;
    width: 100%;
}

body{ 
    background-image: linear-gradient($violet, $blue);
    font-family: 'Kumbh Sans', sans-serif;
}

.App{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh; 
}

//TYPOGRAPHY & REUABLES
p{
    font-size: 12px;
    font-weight: 400;
}

//ACCORDIAN CARD COMPONENT
.accordian-card{ 
    border-radius: 15px;
    margin-top: 10%;

    min-height: 300px;
    height: auto;
    width: 80%;
}


//IMAGES
.mobile-img{
    position: relative;
    top: -40%;

    width: 80%;
    max-width: 300px;
}

.mobile-shadow{
    top: -65%;
    position: relative;
    width: 80%;
    max-width: 300px;
}
