//VARIABLES
$drkBlue:hsl(238, 29%, 16%);
$red: hsl(14, 88%, 65%);
$violet:hsl(273, 75%, 66%);
$blue: hsl(240, 73%, 65%);
$drkGray: hsl(237, 12%, 33%);
$gray: hsl(240, 6%, 50%);
$ltGray: hsl(240, 5%, 91%);

//SETUP
*,*::after,*::before{ 
    box-sizing: border-box;
    margin:0;
}

html, body{ 
    min-height: 100%;
    width: 100%;
}

body{ 
    background-image: linear-gradient($violet, $blue);
    font-family: 'Kumbh Sans', sans-serif;
    padding: 2rem 0;
}

.App{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh; 
}

//TYPOGRAPHY & REUABLES
h1{ 
    margin-bottom: 1rem;
}

p{
    font-size: 12px;
    font-weight: 400;
}

//CARD COMPONENT
.accordion-card{ 
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;

    background-color: #fff;
    border-radius: 15px;
    top: 150px;

    min-height: 300px;
    height: auto;
    width: 85%;
    min-width: 325px;
    max-width: 400px;
}

.grid{
    padding: 0 2rem;
   

    &--left{
        display: relative;
        height: 125px;
    }
}

//IMAGES
.mobile-img{
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;

    width: 225px;

    &--main{
        top: -100px;
    }
}

//ACCORDION COMPONENT
.accordion{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-dropdown{
    border-bottom: 1px solid $ltGray;
    padding: 0.5rem 0;
    width: 100%;
}

.expand{ 
    display:block;
}

.collapse{
    display:none
}

.accordion-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 0;

    &:hover{ 
        cursor: pointer;
    }
}

.arrow{
    height: 7.5px;
}


